.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
}
.card1{
    margin-right: 29px;
    margin-bottom:10px;
    
}
.card2{
    margin-right: 29px;

}
.svg2{
    margin-left:50px;
}

.text1{
    font-size:40px;
    margin-left: 20px;
}